## Packer

# Cache objects
packer_cache/

# Crash log
crash.log

# Exclude private credentials!
credentials.pkrvars.hcl

# For built boxes
*.box

## Terraform

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Exclude private credentials!
credentials.tfvars
.envrc

## Other

# Base ISO
ubuntu-22.04.3-live-server-amd64.iso